table {
    padding-left: 30px;
    padding-right: 30px;
    border-collapse: separate;

}

h1 {
    padding-left: 30px;
    padding-right: 30px;
}

h3{
    text-decoration: underline;
}
body{
    background-color: rgba(68, 255, 122, 0.65);
}





